<section id="experiencia" class="experiencia">
  <div>
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
      aria-expanded="true">
      <h3><strong>Experiencia</strong></h3> &nbsp; &nbsp;
      <br>
    </button><br>

    <app-modalexperiencia></app-modalexperiencia><br><br>

  </div>
  <br>
  <div class="experiencia">
    <div *ngFor="let experiencia of experiencias">
      <h6>
        <strong>{{experiencia.pos}}</strong> &nbsp; &nbsp;
      </h6>
        <div>
          <br>
          <img [src]="experiencia.logo"> &nbsp;
          <strong>{{experiencia.empresa}}</strong> &nbsp;{{experiencia.desde}} - {{experiencia.hasta}}
          <br>
          <br>
          <p>{{experiencia.actividad}}</p>

          <label class="btn btn-secondary" routerLink="experiencia/editar/{{experiencia.id}}">
            <i class="fa-solid fa-pen"></i>
        </label>&nbsp;&nbsp;&nbsp;
        

          <button type="button" class="btn btn-secondary">
            <i class="fa-solid fa-x" (click)="delete(experiencia.id)"></i>
          </button>&nbsp;&nbsp;    
          <br><br><br>
        </div>
    
    </div>
  </div>
</section><br>