textarea {
    background: white;
    margin-top: 9px;
    border: #CB9A5E
}
.footer-right {
    text-align: right;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #dbcfbd;
    border-color:#FAEDDB;
}
.btn {
    border: #dbcfbd;
}
button.btn.btn-primary {
    color: #010101;
    box-shadow: #dbcfbd; 
}
.btn-primary {
    --bs-btn-bg: #dbcfbd;
    --bs-btn-hover-bg: #CB9A5E;
}
a {
    color: #010101;
}
