<form [formGroup]="form" (ngSubmit)="onEnviar()" name="skillsForm">

    <div class="modal-body">

        <label for="recipient-int" class="col-form-label">Porcentaje</label>
        <input id="percent" name="percent" type="int" class="form-control" required formControlName="percent">

        <div *ngIf="form.get('percent')?.touched && form.get('percent')?.errors?.['required']">
            <p>Este campo es requerido</p>
        </div>

        <div *ngIf="form.get('percent')?.touched && form.get('percent')?.errors?.['pattern']">
            <p>Este campo solo acepta números</p>
        </div>

        <div *ngIf="form.get('percent')?.touched && form.get('percent')?.errors?.['max']">
            <p>El porcentaje no puede ser mayor a 100</p>
        </div>

        <div *ngIf="form.get('percent')?.touched && form.get('percent')?.errors?.['min']">
            <p>El porcentaje no puede ser menor a 1</p>
        </div>

        <label for="recipient-text" class="col-form-label">Habilidad</label>
        <input id="habilidad" name="habilidad" type="text" class="form-control" required formControlName="habilidad">

        <div *ngIf="form.get('habilidad')?.touched && form.get('habilidad')?.errors?.['required']">
            <p>Este campo es requerido</p>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-guarning fw-bold">Guardar</button>
    </div>

</form>