    <!--Sección Experiencia-->
    <section id="experiencia" class="experiencia">
        <div><h3><strong>Experiencia</strong></h3>
        <br>
        <div class="experiencia" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Analista Funcional SAP ISU - R3</strong> &nbsp; &nbsp;<i class="fa-solid fa-caret-down"></i> 
               <br>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <br>
                <img src="../../../assets/Image/Geser-removebg-preview.png"> &nbsp;
                <strong>GESER S.A.</strong> &nbsp;Julio 2021 - actualidad
                <br>
                <br>
                <p>Soporte funcional de aplicaciones, resolución de incidentes, análisis de nuevos requerimientos para una mejora contínua.</p>
              </div>
            </div>
          </div>
          <br>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               <strong>Analista Funcional SAP ISU - CS, SD y WM</strong> &nbsp; &nbsp;<i class="fa-solid fa-caret-down"></i>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <br>
                <img src="../../../assets/Image/ecogas-removebg-preview.png"> &nbsp;
                <strong>ECOGAS</strong> &nbsp;Abril 2018 - Julio 2021
                <br>
                <br>
                <p>Mantenimiento correctivo y evolutivo. Nuevos desarrollos adaptados al negocio de la industria del gas. Soporte funcional a usuarios, capacitación, elaboración de manuales, pruebas funcionales y soporte post productivo.</p>
              </div>
            </div>
          </div>
          <br>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>Administrativa - Sector Mesa de Análisis</strong> &nbsp; &nbsp;<i class="fa-solid fa-caret-down"></i>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <br>
                <img src="../../../assets/Image/ecogas-removebg-preview.png"> &nbsp;
                <strong>ECOGAS</strong> &nbsp;Noviembre 2010 - Abril 2018
                <br>
                <br>
                <p>Recepción, análisis y respuesta de reclamos comerciales de clientes.Referente de sector de análisis Región Cuyana.Armado de informes para ENARGAS (Ente Nacional de Regulación del Gas) y respuestas de auditorías. Procesos de facturación y refacturación de clientes. Capacitaciones internas. Confección de plantillas para respuestas a reclamos.</p>
              </div>
            </div>
          </div>
        <br>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <strong>Administrativa - Área de Prestaciones Médicas</strong> &nbsp; &nbsp;<i class="fa-solid fa-caret-down"></i>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <br>
              <img src="../../../assets/Image/gea-removebg-preview.png"> &nbsp;
              <strong>GEA S.A.</strong> &nbsp;Julio 1997 - Septiembre 2010
              <br>
              <br>
              <p>Tareas administrativas, área de prestaciones médicas, autorizaciones, control de facturación de prestadores, uso de Nomenclador Nacional, página de AFIP , Superintendencia de Servicios de Salud. APE</p>
            </div>
          </div>
        </div>
        </div>
        </div><br/><br/><br/>
        </section>
