<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="modal-body">
                  <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" formControlName="email" [class.border-error]="MailInvalid" id="staticEmail">
                      <div *ngIf="Mail?.errors && Mail?.touched">
                        <p *ngIf="Mail?.hasError('required')" class="error">
                          El email es requerido.
                        </p>
                        <p *ngIf="Mail?.hasError('email')" class="error">
                          El formato debe ser válido.
                        </p>
                      </div>
                      
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" formControlName="password" [class.border-error]="PasswordInvalid" id="inputPassword">
                      <div *ngIf="Password?.errors && Password?.touched">
                        <p *ngIf="Password?.hasError('required')" class="error">
                          El password es requerido.
                        </p>
                        <p *ngIf="Password?.hasError('minlength')" class="error">
                          El password es inválido
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss= "modal" [disabled]="!loginForm.form.valid">Iniciar Sesión</button>
                </div>
              </form>
              
        </div>
    </div>
</div>