<section id="cursos" class="cursos">
  <div>
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
      aria-expanded="true" aria-controls="collapseSeven">
      <h3><strong>Cursos</strong></h3> &nbsp; &nbsp;<i class="fa-solid fa-sort"></i>
      <br>
    </button>
  </div>
  <br>
  <div class="cursos" id="accordionExample">
    <div *ngFor="let cursos of cursosList" class="accordion-item">
      <h6 class="accordion-header" id="headingSeven">
        <strong>{{cursos.titulo}}</strong> &nbsp; &nbsp;
      </h6>
      <div id="collapseSeven" class="accordion-collapse collapse show" aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <br>
          <img [src]="cursos.imag"> &nbsp;&nbsp;
          <strong>{{cursos.dado}}</strong> &nbsp;{{cursos.fecha}}
        </div>
      </div>
    </div>
  </div>
</section><br>