<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aboutmeModal">
    Modificar Datos
</button>&nbsp;


<div class="modal fade" id="aboutmeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="recipient-name" class="col-form-label">name</label>
                <input type="text" class="form-control" id="recipient-name"><br>
                <label for="recipient-name" class="col-form-label">position</label>
                <input type="text" class="form-control" id="recipient-name"><br>
                <label for="recipient-name" class="col-form-label">ubicacion</label>
                <input type="text" class="form-control" id="recipient-name"><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>

        </div>
    </div>
</div>
