  <!-- Acerca de mi -->
  <section id="about me" class="about">
    <div class="container text-center">
      <div class="row">
        <div class= "col-lg-3 col-md-3 col-sm-5 col-xs-12 mt-4">
          <ul style="list-style:none" class="titulo">
            <li><h4><strong>{{miPortfolio.aboutme.name}}</strong></h4></li>
            <li><h6><strong>Funcional SAP Sr. - Fullstack Developer Jr.</strong></h6></li>
            <li><h6><strong>Córdoba-Argentina</strong></h6></li>
          </ul>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <img style="margin: -20%" src="../../../assets/Image/me.jpg" class="rounded-circle" alt="about me" title="yo" id="miFoto">
       </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-3">         
           <h5>Soy analista funcional de TI, especializada en SAP R3 e ISU. Estoy incurcionando ahora en el mundo de la programación. Me encantan los desafíos y el diseño y espero poder crecer técnica y profesionalmente.</h5>
      </div>
      </div>
    </div><br/><br/>
  </section>
