<!-- <div class="modal fade" id="cursoEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            
        </div>
    </div>
</div>&nbsp;&nbsp; -->


<form [formGroup]="form" (ngSubmit)="onEnviar()" name="cursoForm">

    <div class="modal-body">

        <label for="recipient-name" class="col-form-label">Modificar Título</label>
        <input id="titulo" name="titulo" type="text" class="form-control" required
            formControlName="titulo"><br>

        <div *ngIf="form.get('titulo')?.touched && form.get('titulo')?.errors?.['required']">
            <p>Este campo es requerido</p>
        </div>

        <label for="recipient-name" class="col-form-label">Modificar ruta de Imagen</label>
        <input id="imag" name="imag" type="text" class="form-control" formControlName="imag"><br>


        <label for="recipient-name" class="col-form-label">Modificar Institución</label>
        <input id="dado" name="dado" type="text" class="form-control" required formControlName="dado"><br>

        <div *ngIf="form.get('dado')?.touched && form.get('dado')?.errors?.['required']"
            class="alert-danger">
            <p>Este campo es requerido</p>
        </div>

        <label for="recipient-name" class="col-form-label">Modificar Fecha</label>
        <input id="fecha" name="fecha" type="text" class="form-control" required
            formControlName="fecha"><br>

        <div *ngIf="form.get('fecha')?.touched && form.get('fecha')?.errors?.['required']"
            class="alert-danger">
            <p>Este campo es requerido</p>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-guarning fw-bold">Guardar</button>
    </div>


</form>




