.navbar.navbar-expand-lg.bg-secondary {
    background-color: rgb(203, 154, 94)!important;
}
i.fa-brands.fa-discord.fa-xl:hover {
color: #5560a6   
}
i.fa-brands.fa-instagram.fa-xl:hover {
color: #AA3C83;
}
i.fa-brands.fa-linkedin.fa-xl:hover {
color: #2828D7;
}
i.fa-solid.fa-user.fa-xl:hover {
color: #155656;
}
.list-group {
    --bs-list-group-bg: #dbcfbd;
}
*{
    background-color:#dbcfbd;
    font-family: 'Open Sans', sans-serif;
}

.titulo {
    padding-top: 5px;
    padding-left: 80px;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #dbcfbd;
    border-color:antiquewhite;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: black;
}
.btn {
    border: #dbcfbd;
}
.modal {
    --bs-modal-bg:#dbcfbd;
}
button.btn.btn-primary {
    color: black;
    box-shadow: #dbcfbd;  
}
.btn-primary {
    --bs-btn-bg: #dbcfbd;
    --bs-btn-hover-bg: rgb(203, 154, 94);
}
.modal-header {
    background-color: rgb(203, 154, 94);
}
.modal-title {
    background-color: rgb(203, 154, 94);
}
body { 
    background-color:#dbcfbd;
    font-family: 'Open Sans Condensed', sans-serif; 
    margin-left: 15px;
    margin-right: 15px;
} 
.h1 { 
    color: #63B8FF; text-align: center; 
} 
.progress-circle { 
    position: relative; display: inline-block; margin: 1rem; width: 120px; height: 120px; border-radius: 50%; background-color: #ebebeb; 
} 
.progress-circle:after { 
    content: ''; display: inline-block; width: 100%; height: 100%; border-radius: 50%; -webkit-animation: colorload 2s; animation: colorload 2s; 
}
.progress-circle span { 
    font-size: 1rem; color: #8b8b8b; position: absolute; left: 50%; top: 50%; display: block; width: 90px; height: 90px; line-height: 90px; margin-left: -45px; margin-top: -45px; text-align: center; border-radius: 50%; background: #fff; z-index: 1; 
} 
.progress-circle span:after { 
    content: "%"; font-weight: 600; color: #8b8b8b; 
}
circle.progress-6:after { 
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(111.6deg, rgb(203, 154, 94) 50%, #ebebeb 50%, #ebebeb);
}
.progress-circle.progress-6:after { 
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(111.6deg, rgb(203, 154, 94) 50%, #ebebeb 50%, #ebebeb); 
} 
.progress-circle.progress-95:after { 
    background-image: linear-gradient(72deg, rgb(203, 154, 94) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(203, 154, 94) 50%, #ebebeb 50%, #ebebeb); 
} 
.progress-circle.progress-78:after { 
    background-image: linear-gradient(10.8deg, rgb(203, 154, 94) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(203, 154, 94)50%, #ebebeb 50%, #ebebeb); 
} 
.progress-circle.progress-79:after { 
    background-image: linear-gradient(14.4deg, rgb(203, 154, 94)50%, transparent 50%, transparent), linear-gradient(270deg, rgb(203, 154, 94) 50%, #ebebeb 50%, #ebebeb); 
} 
.progress-circle.progress-80:after { 
    background-image: linear-gradient(18deg, rgb(203, 154, 94) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(203, 154, 94) 50%, #ebebeb 50%, #ebebeb); 
} 
.progress-circle.progress-81:after { 
    background-image: linear-gradient(21.6deg, rgb(203, 154, 94) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(203, 154, 94) 50%, #ebebeb 50%, #ebebeb); 
} 
.accordion {
    --bs-accordion-bg:#dbcfbd;
    --bs-accordion-border-color:#dbcfbd;
    --bs-accordion-btn-focus-border-color: #dbcfbd;
    --bs-accordion-active-color: #dbcfbd;
    --bs-accordion-active-bg: #dbcfbd;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(203, 154, 94);
}
.accordion-button:not(.collapsed) {
    color:black;
    --bs-accordion-border-color:rgb(203, 154, 94);
}
button {
    border-color: green !important;
}

textarea {
    background: white;
    margin-top: 9px;
}
.footer-right {
    text-align: right;
}
.copyright {
    text-align: center;
    font-size: small;
}