<section id="proyectos" class="proyectos">
    <div>
        <h3><strong>Proyectos</strong></h3><br>

        <app-modalproyectos></app-modalproyectos><br>

        <ul style="list-style: none"><br />
            <li *ngFor="let proyecto of proyecto">
                {{proyecto.descripcion}}

                <label class="btn btn-secondary" routerLink="proyecto/editar/{{proyecto.id}}">
                    <i class="fa-solid fa-pen"></i>
                </label>&nbsp;&nbsp;&nbsp;


                <button type="button" class="btn btn-secondary">
                    <i class="fa-solid fa-x" (click)="delete(proyecto.id)"></i>
                </button>&nbsp;&nbsp;

            </li>
        </ul>
    </div><br><br>
</section>