     <!--Sección Skills-->
      <section id="skills" class="skills">
        <div><h3><strong>Skills</strong></h3>
          <div class="progress-circle-container">
            <ul style="list-style: none;" class="list-group list-group-horizontal">
              <li>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-60"><span>60</span></div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">GitHub</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
              <li>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-82"><span>82</span></div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">HTML</h5>
                        </div>
                      </div>
                    </div>
                </div>
              </li>
              <li>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-40"><span>40</span></div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">MySQL</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
              <li>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-75"><span>75</span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">CSS</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
            <ul style="list-style: none;" class="list-group list-group-horizontal">
              <li>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-78"><span>78</span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">TypeScript</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
              <li>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-79"><span>79</span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Angular</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
              <li>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-81"><span>81</span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Bootstrap</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
              <li>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" style="max-width: 20%;">
                    <div class="row g-0">
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4">
                        <div class="progress-circle progress-95"><span>95</span>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">SAP</h5>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div><br/><br/><br/>
      </section>
