<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#skillsModal">
  Nuevo Skills
</button>&nbsp;

<div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form (ngSubmit)="onSubmit()" [formGroup]="skillsForm">

      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

            <label for="recipient-int" class="col-form-label">Porcentaje</label>
            <input id="percent" name="percent" type="int" class="form-control" required formControlName="percent">
            
            <div *ngIf="skillsForm.get('percent')?.touched && skillsForm.get('percent')?.errors?.['required']">
            <p>Este campo es requerido</p>
            </div>

            <div *ngIf="skillsForm.get('percent')?.touched && skillsForm.get('percent')?.errors?.['pattern']">
            <p>Este campo solo acepta números</p>
            </div>

            <label for="recipient-text" class="col-form-label">Habilidad</label>
            <input id="habilidad" name="habilidad" type="text" class="form-control" required formControlName="habilidad">

            <div *ngIf="skillsForm.get('habilidad')?.touched && skillsForm.get('habilidad')?.errors?.['required']">
              <p>Este campo es requerido</p>
              </div>

      </div>

    </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-guarning fw-bold" [disabled]="skillsForm.invalid">Guardar</button>
      </div>
    </div>
  </div>
</div>