<form [formGroup]="form" (ngSubmit)="onEnviar()" name="experienciaForm">

    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <label for="recipient-name" class="col-form-label">Foto</label>
        <input id="foto" name="foto" type="foto" class="form-control" required formControlName="foto"><br>

        <label for="recipient-name" class="col-form-label">Nombre</label>
        <input id="nombre" name="name" type="name" class="form-control" required formControlName="name"><br>


        <label for="recipient-position" class="col-form-label">Posición</label>
        <input id="position" name="position" type="text" class="form-control" required formControlName="position"><br>


        <label for="recipient-ubicacion" class="col-form-label">Ubicación</label>
        <input id="ubicacion" name="ubicacion" type="text" class="form-control" required formControlName="ubicacion"><br>



        <label for="message-text" class="col-form-label">Descripción</label>
        <textarea id="descripcion" name="descripcion" type="textarea" class="form-control" required
            formControlName="sobreMi"></textarea>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-guarning fw-bold">Guardar</button>
    </div>

</form>